# BootROM header occupies bytes 0..79; leave the protective MBR intact.
image @IMAGE_NAME@ {
    hdimage {
        partition-table-type = "gpt"
    }

    partition bootinfo {
        image = "factory/bootinfo_sd.bin"
        offset = 0
        size = 512
        holes = {"(80;512)"}
        in-partition-table = false
    }

    partition fsbl {
        image = "factory/FSBL.bin"
        offset = 128K
        size = 256K
        in-partition-table = true
    }

    partition env {
        image = "env.bin"
        offset = 384K
        size = 64K
        in-partition-table = true
    }

    partition opensbi {
        image = "@OPENSBI_IMAGE@"
        offset = 1M
        size = 1M
        in-partition-table = true
    }

    partition uboot {
        image = "u-boot.itb"
        offset = 2M
        size = 2M
        in-partition-table = true
    }
}
